/* Général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #006400; /* Couleur vert pour correspondre à l'aspect écologique */
    color: white;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    font-style: italic;
}

/* Menu de navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

/* Sections */
section {
    padding: 20px;
    margin: 20px;
}

/* Galerie d'images */
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img {
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    text-align: center;
    background-color: #006400;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

